* {
    /* Text */
    font-family: 'Open Sans', sans-serif;
}

body { 
    margin: 0;

    /* Colour */
    background-color: white;

    /* Other */
    overflow-x: hidden;
}

header { 
    /* Positioning */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;

    /*Display & Box Model */
    align-items: center; 
    justify-content: center; 
    width: 100%;

    /* Colour */
    background-color: #0077b6;
    color: white;


    /* Text */
    text-align: center;
}

main { 
    /*Display & Box Model */
    display: flex;

    /* Positioning */
    grid-area: main;
    gap: 50px;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;

    /* Colour */
    background-color: white;
}
footer { 
    /* Positioning */
    position: fixed;
    bottom: 0;

    /* Display */
    width: 100%;
    align-items: center; 
    justify-content: center; 

    /* Colour */
    color: white;
    background-color: #0077b6;

    /* Text */
    text-align: center;
    font-size: small;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.sidebar {
    /* Display */
    background-color: #eeeeee;
    position: relative;
    display: block;
}

header, .sidebar, footer, .card{
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);    
}

.sidebar h2 {
    padding-top: 12px;
    margin: 0;
}

form {
    padding: 1vh;
    font-size: small;
}

a {
    color: #0000EE;
}

ul {
    list-style-type: none;
    padding-inline-start: 10px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 5px; /*Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 3px; /* Add a top margin */
    margin-bottom: 8px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

button {
    width: 100%;
    color: #ffffff;
    background-color: #00b4d8;
    border-radius: 4px;
    border: 1px solid #00b4d8;
    padding: 5px;
}

button:hover {
    cursor: pointer;
}

img{
    object-fit: cover;
    position: relative;
    width:350px;
    height:300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.colour {
    border:2px solid white;
    border-radius: 10px;
    width:16px;
    height:16px;
    display:inline-block;
    margin-right: 10px;
}

.card {
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    font-size: small;
    border-radius: 10px;
}

.card-label {
    float:left;
    width: 30%;
    font-weight: bolder;
    padding-left: 25px;
}


.card-txt {
    float: right;
    width: 55%;
}

.englishName {
    padding-left: 25px;
}

.sidebar span{
    color: black;
}
span{
    color: white;
}

.conservation-colours{
    float: left;
    width: 10%;
    margin-top: 5px;
}

.conservation-colours .colour{
    margin: 1px;
}

.conservation-text{
    float: right;
    width: 90%;
}

.conservation-text p{
    margin: 8px;
}

.container {
    position: relative;
}

.primaryName {
    position: absolute;
    bottom: 35px;
    left: 25px;
    color: white;
}

.credit {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: white;
}

.conservationColour {
    position: absolute;
    bottom: -25px;
    right: 25px;  
    border:4px solid white;
    border-radius: 30px;
    width:50px;
    height:50px;
}

.icon {
    background: #0077b6;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    display: block;
}

/* Small screens (phones) */
@media (max-width: 1044px) {
    header{
        margin: 0;
        height: 60px;
        padding-top: 10px;
    }

    h1 {
        margin: 0;
    }

    footer {
        position: relative;
    }
    .conservation-colours{
        width: 1%;
        margin-top: 5px;
    }
    .conservation-text{
        float: right;
        width: 95%;
    }
}
/* Large screens (laptops) */
@media (min-width: 1045px) {
    body {
        /* Display & Box Model */
        display: grid;
        grid-template-columns: 20.25vw auto;
        grid-template-rows: 90px 1fr 20px;
        grid-template-areas: 
        'header header' 
        'sidebar main'
        'footer footer';
    }
    header {
        /*Display & Box Model */
        display: flex;
        grid-area: header;
        grid-column: span 2;
    }

    footer {
        display: flex;
        grid-area: footer;
        grid-column: span 2;
        padding: 5px;
        height: 10px;
    }

    .sidebar {
        position: fixed;
        grid-area: sidebar;
        width:  20.25vw;
        height: calc(100% - 90px);
        margin-top: 90px;
    }
    .icon {
        display: none;
    }
}





